<ion-header [translucent]="true">
  <ion-toolbar class="home-ion-toolbar">
    <ion-title class="ion-text-center">Welcome to Exchangify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container ion-text-center">
    <h1>Welcome to Exchangify</h1>
    <p>Get real-time currency conversions at your fingertips.</p>
    <ion-button class="welcome-button" expand="block"  routerLink="/conversion" class="welcome-button">
      Start Converting
    </ion-button>
  </div>
</ion-content>
